<div class="page-header">
  <div class="row">
    <div class="col-lg-12">

      <div class="row">
        <center><%= image_tag 'logo_imobilis2.png', class: 'logo-header' %><center>
        <h1>BOPE SYSTEM</h1>
      </div>

      <p class="lead">
        Sistema de Acompanhamento para o processo BOPE
      </p>

    </div>
  </div>
</div>
